* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}

h1 {
    font-family: "Lucida Sans Unicode", sans-serif;
    color: ##08050E;
    font-size: 20px;
}

p {
    letter-spacing: .4px;
    line-height: 140%;
    color: #fff;
    font-family: "American Typewriter", sans-serif;
    font-size: 16px;
}

img {
    height: 60px;
    width: 60px;
}

#rebel-icon {
    width: 40px;
    height: 40px;
}

#resume-button {
    background-color: #35BC7A;
    border: #fff 1px solid;
    color: #fff;
    font-weight: 900;
    margin-top: 5px;
    position: relative;
    left: -25%
}

#resume-button-image, #contact-button-image {
    width: 15px;
    height: 15px;
}

#contact-button {
    background-color: #35BC7A;
    border: #fff 1px solid;
    color: #fff;
    font-weight: 900;
    margin-top: 5px;
    position: relative;
    left: 25%
}

#self-pic {
    width: 100%;
    height: 100%;
}

.main-pic {
    flex: 1;
}

.container {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 33.33333%;
}

.box1 {
    justify-content: center;
    text-align: center;
    width: 66.666%;
    background-color: #35BC7A;
}

.box2 {
    width: 33.333%;
    background-color: #FF9E00;
}

.box3 {
    width: 33.33333%;
    background-color: #1E8BC4;
}

.box4 {
    flex: 33.33333%;
    background-color: #F15A49;
}

.box5 {
    flex: 33.33333%;
    background-color: #35BC7A;
}

.box6 {
    flex: 33.3333%;
    background-color: #F86925;
}

.box7 {
    flex: 33.3333%;
    background-color: #1E8BC4;
}

.box8 {
    flex: 33.33333%;
    background-color: #F86925;
}

@media (max-width:690px) {
    body {
        flex-direction: column;
    }
    .main-pic {
        order: 1;
        height: 30%;
    }
    .container {
        order: 2;
    }
    .box1 p {
        font-size: 11px;
    }
    p {
        font-size: 14px;
    }
}

@media (max-width:540px) {
    img {
        width: 80px;
        height: 80px
    }
    body {
        height: 1200px;
    }
    .box1 p {
        font-size: 14px;
        text-align: left;
        line-height: 160%;
        width: 90%;
        margin-left: 10px;
    }
    .box {
        flex-basis: 100%
    }
}
